.second {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.section>h1 {
    color: #6CB840;
}
#street {
    color: #EAAB1B;
}
*{
    font-family: Poppins;
}
.content-4 {
    text-align: center;
}
.button {
    background: #6CB840;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
.button-2 {
    background: #6CB840;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
.menu-1 {
    display: flex;
    flex-direction: row;
}

.eclipse{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(134, 187, 103, 0.8);
    clip-path: circle(600px at right -90px);
}